GCP_PROJECT_ID=your-gcp-project-id
GCP_LOCATION=us-central1
BQ_RAW_DATASET=raw
BQ_STAGING_DATASET=staging
BQ_MART_DATASET=mart
BQ_ML_DATASET=ml
BQ_MONITORING_DATASET=monitoring
GOOGLE_APPLICATION_CREDENTIALS=/path/to/service_account.json
GCS_VERTEX_STAGING_BUCKET=gs://your-project-vertex-staging

PUBSUB_TOPIC=usage-events-topic

KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_api_key
KAGGLE_DATASET=blastchar/telco-customer-churn
KAGGLE_TELCO_CSV_FILENAME=WA_Fn-UseC_-Telco-Customer-Churn.csv

BQ_RAW_CSV_DIR=data/raw
